@page
@model LoginModel
@using Stock_keeping.Utility
@{
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/style.css">

    <title>LogIn - Inventory</title>
</head>
<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row form-row align-items-center justify-content-center">
                    <div class="col-md-7">

                        <h3>Sign to <strong>Inventory</strong></h3>
                        <p class="mb-4">Login to access all account features.</p>

                        <form id="account" method="post">
                            <h2>Use a local account to log in.</h2>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>

                        <section>
                            <h3>Use another service to log in.</h3>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}








